.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
}
.App::-webkit-scrollbar {
  display: none;
}
/* YourComponent.css */
.button-container {
  text-align: right;
}

.approve-button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deny-button {
  background-color: pink;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
